body{

font-family:Arial;

background:#f5f7fb;

}


.container{

max-width:700px;

margin:50px auto;

padding:30px;

background:white;

border-radius:20px;

text-align:center;

}



#dropzone{

border:3px dashed #2563eb;

padding:50px;

border-radius:20px;

cursor:pointer;

}



select,
button{

width:100%;

padding:15px;

margin-top:20px;

border-radius:10px;

font-size:18px;

}



button{

background:#2563eb;

color:white;

border:none;

cursor:pointer;

}



#status{

margin-top:20px;

font-weight:bold;

}



#result{

margin-top:20px;

}
