/* ==========================================
   FAST MAGIC PDF
   COMPRESS PDF STYLE
========================================== */


.tool-description{

text-align:center;

color:#666;

margin-bottom:30px;

font-size:16px;

}





/* Upload Area */

.dropzone{


min-height:230px;


border:3px dashed #2563eb;


border-radius:20px;


background:#eff6ff;


display:flex;


flex-direction:column;


justify-content:center;


align-items:center;


text-align:center;


cursor:pointer;


transition:0.3s;


padding:30px;


}



.dropzone:hover{


background:#dbeafe;


}




.dropzone.dragover{


background:#bfdbfe;


border-color:#1d4ed8;


}




.dropzone h2{


margin-bottom:10px;


}



.dropzone span{


color:#2563eb;


font-weight:bold;


}





/* File Information */


.file-info{


display:none;


margin-top:25px;


padding:18px;


border-radius:12px;


background:#f8fafc;


border:1px solid #ddd;


line-height:1.6;


}





/* Compression Settings */


.compression-settings{


margin-top:25px;


}



.compression-settings label{


display:block;


font-weight:bold;


margin-bottom:10px;


}



.compression-settings select{


width:100%;


padding:14px;


border-radius:12px;


border:1px solid #ccc;


font-size:16px;


background:white;


}





/* Button */


.compress-btn{


width:100%;


margin-top:25px;


padding:16px;


border:none;


border-radius:12px;


background:#2563eb;


color:white;


font-size:18px;


font-weight:bold;


cursor:pointer;


transition:.3s;


}



.compress-btn:hover{


background:#1d4ed8;


}






/* Progress */


.progress{


height:18px;


width:100%;


background:#e5e7eb;


border-radius:20px;


overflow:hidden;


margin-top:25px;


}



#progressBar{


height:100%;


width:0%;


background:#16a34a;


transition:.4s;


}





#progressText{


text-align:center;


font-weight:bold;


margin-top:12px;


}






/* Result Card */


.stats-card{


margin-top:25px;


padding:20px;


border-radius:15px;


background:#f8fafc;


border:1px solid #ddd;


line-height:2;


}





/* Download Button */


.download-btn{


width:100%;


margin-top:20px;


padding:15px;


border:none;


border-radius:12px;


background:#16a34a;


color:white;


font-size:17px;


font-weight:bold;


cursor:pointer;


}



.download-btn:hover{


background:#15803d;


}







/* Dark Mode */


.dark-mode .dropzone{


background:#1e3a8a;


border-color:#60a5fa;


}



.dark-mode .dropzone h2,


.dark-mode .dropzone p,


.dark-mode .dropzone span{


color:white;


}



.dark-mode .file-info,


.dark-mode .stats-card{


background:#374151;


border-color:#4b5563;


color:white;


}




.dark-mode .compression-settings select{


background:#374151;


color:white;


border-color:#6b7280;


}






/* Mobile */


@media(max-width:768px){


.dropzone{


min-height:180px;


}


.compress-btn{


font-size:16px;


}


}
