/* ==========================================
   FAST MAGIC PDF - PROTECT PDF CSS
========================================== */


.tool-description{

text-align:center;

color:#666;

margin-bottom:30px;

}




.protect-dropzone{

min-height:220px;

border:3px dashed #dc2626;

border-radius:20px;

background:#fef2f2;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

cursor:pointer;

text-align:center;

padding:30px;

}




.protect-dropzone:hover{

background:#fee2e2;

}



.protect-dropzone.dragover{

background:#fecaca;

}



.protect-dropzone span{

color:#dc2626;

font-weight:bold;

}





.file-info{

margin-top:20px;

padding:15px;

background:#f9fafb;

border-radius:12px;

text-align:center;

}





.password-box{

margin-top:25px;

}



.password-box label{

display:block;

font-weight:bold;

margin-bottom:10px;

}




.password-box input{


width:100%;


padding:14px;


border-radius:10px;


border:1px solid #ccc;


font-size:16px;


}







.protect-btn{


margin-top:25px;


width:100%;


padding:15px;


border:none;


border-radius:12px;


background:#dc2626;


color:white;


font-size:18px;


font-weight:bold;


cursor:pointer;


}





.protect-btn:hover{

background:#b91c1c;

}





#status{

text-align:center;

margin-top:20px;

font-weight:bold;

}
